// color varibles
$white: #ffffff;
$dark-cyan: #163347;
$light-blue: #00b6ed;
$blue: #0056ed;
$green: #7ed321;
$pink: #e3b6ff;
$yellow: #f8e71c;
$red: #d0021b;
$dark-blue: #124a63;
$cyan: #004a65;
$grey: rgba(255, 255, 255, 0.56);
