{
  "extends": ["standard", "react-app"],
  "plugins": ["prettier"],
  "parser": "react-scripts/node_modules/babel-eslint",
  "overrides": [
    {
      "files": ["**/*.js?(x)", "src/App.jsx"]
    }
  ]
}